<div id="map">
  <a href="#right-menu"><i class="open-menu fi-list"></i></a>
  <input type="button" id="newMarkerButton" class="small button" value="point and click"/>
</div> 

<nav id="right-menu">

  <ul>
    <% @collections.each do |collection| %>
      <li data-collection="<%= collection.name %>">
        <a><i class="collection-eye fa fa-eye-slash" data-show="disabled"></i><span><%= collection.name %></span></a>
        <ul>
          <% collection.tag_list.each do |tag| %>
          <li data-tag="<%= tag %>"><a><i class="tag-eye fa fa-eye-slash" data-show="disabled"></i><span><%= tag %></span></a></li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <li>
      <span>
        <div>
          <%= render "collection_form" %>
        </div>
      </span>
    </li>
  </ul>
</nav>