<div id="map">
  <a href="#right-menu"><i class="open-menu fi-list"></i></a>
</div> 

<div id="control-menu">
  <a href="#wheel2" class="wheel-button ne">
    <span class="menu-open">#</i>  </span>
  </a>
  <ul id="wheel2" data-angle="NE" class="wheel">
    <li class="item" id="global"><a href="#home"><i class="icon fa fa-globe"></i></a></li>
    <li class="item" id="new-collection"><a href="#home"><i class="icon fa fa-book"></i></a></li>
    <li class="item" id="newMarkerButton" value="point and click"><a href="#home"><i class="icon fa fa-map-marker"></i></a></li>
    <li class="item" id="user"><a href="#home"><i class="icon fa fa-user"></i></a></li>
    <li class="item" id="settings"><a href="#home"><i class="icon fa fa-cog"></i></a></li>
  </ul>
</div>

<nav id="right-menu">

  <ul>
    <% @collections.each do |collection| %>
      <li data-collection="<%= collection.name %>" data-show="disabled">
        <a><i class="collection-eye fa fa-eye-slash" ></i><span><%= collection.name %></span></a>
        <ul>
          <% collection.collectionTags.each do |tag| %>
          <li data-tag="<%= tag.name %>" data-show="disabled"><a><i class="tag-eye fa fa-eye-slash"></i><span><%= tag.name %></span></a></li>
          <% end %>
            <li class="tag-form" style="display:none;">
              <span>
                <div>
                  <%= render partial: "tag_form", locals: {collection: collection, user: collection.user} %>
                </div>
              </span>
            </li>
            <li class="new-tag">
              <a><span>Add a Tag!</span></a>
            </li>
        </ul>
      </li>
    <% end %>
    <li id="collection-form">
      <span>
        <div>
          <%= render "collection_form" %>
        </div>
      </span>
    </li>
    <li id="new-collection">
      <a><span>Add a new collection!</span></a>
    </li>
    
  </ul>
</nav>

