<ul class="showOptions">
  <li>
  <% if current_user.id == @geomarker.user_id %>
    <input id="optionsButton" type="button" value="Options" />
    <ul id="optionsMenu">
      <li><a id="editButton" href="#">Edit</a></li>
      <li><a id="deleteButton" href="#">Delete</a></li>
    </ul>
  <% end %>
  </li>
  <li>
    <input id="closeShowButton" type="button" value="Close"/>
  </li>
</ul>
<h2><%= @geomarker.name %></h2>
<p><%= @geomarker.description %></p>
<br>
<% if @geomarker.image %>
  <% if params[:windowWidth].to_f < 40 %>
    <%= image_tag @geomarker.image.thumb.to_s %>
  <% elsif params[:windowWidth].to_f >= 40 && params[:windowWidth].to_f < 60 && @geomarker.image.medium %>
    <%= image_tag @geomarker.image.medium.to_s %>
  <% elsif params[:windowWidth].to_f >= 60 && @geomarker.image.large %>
    <%= image_tag @geomarker.image.large.to_s %>
  <% else %>
    <%= image_tag @geomarker.image.to_s %>
  <% end %>
<% end %>
<br>
<p>Created by: <%= @user.username %></p>
<% if @geomarker.tags.any? %>
 <p>Tags: <%= @geomarker.tag_list %> </p>
<% end %>