<h1>Geomarkers</h1>

<% if current_user %>
  <%= link_to "Sign out", signout_path %>
<% else %>
  <%= link_to "Sign up", signup_path %>
  <%= link_to "Sign in", signin_path %>
<% end %>
<br>
<br>
<%= link_to "Add some hash!", new_geomarker_path %>
<br>
<br>

<%= form_tag geomarkers_path, :method => "get" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if params[:tag].present? %>
    <h2>Geomarkers tagged with <%= params[:tag] %></h2>
<% elsif params[:search].present? %>
    <h2>Geomarkers tagged with <%= params[:search] %></h2>
<% else %>
    <h2>All Geomarkers</h2>
<% end %>
<br>
<% @geomarkers.each do |geomarker| %>
  <p><%= link_to geomarker.name, geomarker_path(geomarker) %>
    <span><%= geomarker.tag_list %>|</span>
    <span><%= geomarker.description %></span>
    <span><%= geomarker.latitude %></span>
  <span><%= geomarker.longitude %></span>
  </p>

<% end %>

