<h1>Geomarkers</h1>

<%= link_to "Add some hash!", new_geomarker_path %>
<br>
<br>

<%= @geomarker.each do |geomarker| %>
  <p><%= link_to geomarker.name, geomarker_path(geomarker) %>
    <span><%= geomarker.description %></span>
    <span><%= geomarker.latitude %></span>
  <span><%= geomarker.longitude %></span>
  </p>

<% end %>

