<h2><%= @geomarker.name %></h2>
<h5><%= @geomarker.tag_list %></h5>
<p><%= @geomarker.description %></p>
<p>Latitude: <%= @geomarker.latitude %></p>
<p>Longitude: <%= @geomarker.longitude %></p>
<br>
<%= link_to "Home", geomarkers_path, :class => "button" %>
<%= link_to "Edit Geomarker", edit_geomarker_path(@geomarker), :class => "button" %>
<%= link_to "Delete", @geomarker, method: :delete, :class => "button" %>

