<ul class="showOptions">
  <li>
      <input id="closeShowButton" type="button" value="Close"/>
  </li>
</ul>
<hr>
<h1><%= @user.username %></h1>
<p><span>Email:</span> <%= @user.email %></p>
<hr>
<!-- Friend Requests -->
<% unless @user.friend_requests.empty? %>
  <div class="requestList">
    <h4>You have friend requests from:</h4>
    <ul class="requests">
      <% @user.friend_requests.each do |request| %>
        <li class="request" data-request-id="<%= request[0] %>"><a class="friendProfileButton" href="#" data-id="<%= request[1].id %>"><%= request[1].username %></a>  <a class="acceptFriendshipButton" href="#">Accept Request</a>  <a class="ignoreRequestButton" href="#">Ignore</a></li>
      <% end %>
    </ul>
  </div>
<% end %>
<!-- Friends List -->
<h4>
  <% if current_user.id == @user.id %>
    Your Friends
  <% else %>
    <%= @user.username %>'s Friends
  <% end %>
</h4>
<ul class="friendsList">
  <%= render "friends" %>
</ul>